<div class="profile-wrapper">

  @if (!announcementNotFound() && !isLoading()) {
    <h2>
      @if (route.snapshot.paramMap.get('id')) {
        @if (isAdmin()) {
          Edit Announcement
        }
        @else {
          {{ announcementForm.get('title')?.value }}
        }
      }
      @else {
        Create Announcement
      }
    </h2>
  }

  @if (announcementNotFound()) {
    <h2>Announcement Not Found</h2>
  }

  @if (!announcementNotFound() && !isLoading() && isAdmin()) {
    <form [formGroup]="announcementForm"
          (ngSubmit)="saveAnnouncement()"
          class="profile-form">
      <div class="form-row">
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text"/>
        @if (announcementForm.get('title')?.invalid && announcementForm.get('title')?.touched) {
          <div class="error">
            Title is required (max 200 chars)
          </div>
        }
      </div>

      <div class="form-row">
        <label for="message">Message</label>
        <textarea id="message" formControlName="message" rows="4"></textarea>
        @if (announcementForm.get('message')?.invalid && announcementForm.get('message')?.touched) {
          <div class="error">
            Message is required
          </div>
        }
      </div>

      <div class="form-actions">
        <button type="submit" class="btn save-btn">Save Announcement</button>
      </div>
    </form>
  }

  @if (!announcementNotFound() && !isLoading() && !isAdmin()) {
    <div class="announcement-view">
      <div [innerHTML]="announcementForm.get('message')?.value"></div>
    </div>
  }

</div>