<div class="vacation-container">
  <div class="months-grid">
    @for (month of months; track month.name) {
      <div class="month-card">
        <div class="month-header">{{ month.name }} {{ currentYear }}</div>

        <div class="week-days">
          @for (day of weekDays; track day) {
            <div class="week-day">{{ day }}</div>
          }
        </div>

        <div class="days-grid">
          @for (day of month.days; track day) {
            <div
              [class.day-disabled]="day.isPast || day.date === 0 || day.requestStatus"
              [class.day-selected]="day.selected && day.date !== 0"
              [style.backgroundColor]="day.date !== 0 ? getDayColor(day) : 'transparent'"
              (click)="day.date !== 0 && !day.requestStatus && selectDay(day)"
            >
              {{ day.date !== 0 ? day.date : '' }}
            </div>
          }
        </div>
      </div>
    }

    @if (showLeaveDialog()){
      <app-leave-request-dialog
        (confirmSelection)="onLeaveDialogConfirm($event)"
        (cancelSelection)="onLeaveDialogCancel()"
        [errorMessage]="dialogError()"
      >
      </app-leave-request-dialog>
    }
  </div>
</div>
