.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 98vh;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #4a2f1b;
}

input,
button {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 4px;
}

input {
  border: 1px solid #d2b48c;
  margin-bottom: 10px;
}

input:focus {
  border-color: #a97451;
  outline: none;
}

.btn {
  background-color: #a97451;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px
}

.btn:hover {
  background-color: #8c5c3a;
}

.forgot-link {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: #8c5c3a;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

label {
  font-size: 13px;
  color: #5a4635;
  display: block;
  margin-bottom: 5px;
}

.form-group{
    margin-top: 10px;
}

input.invalid {
  border: 1px solid #cc0000;
  background-color: #fff5f5;
}

.error {
  font-size: 12px;
  color: #cc0000;
}

.global-error {
  color: #f44336;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}
