<div class="sidebar">
  <div class="sidebar-header">
    <h2>User Board</h2>
  </div>

  <ul class="sidebar-menu">
    <li routerLink="/home/attendance" routerLinkActive="active">
      <i class="fas fa-home"></i> Home
    </li>
    <li routerLink="/home/announcements" routerLinkActive="active">
      <i class="fas fa-bullhorn"></i> Announcements
    </li>
    <li routerLink="/home/users" routerLinkActive="active">
        <i class="fas fa-users"></i> Users
    </li>
    <li routerLink="/home/vacations" routerLinkActive="active">
      <i class="fas fa-calendar-alt"></i> Vacation Schedule
    </li>
    <li *ngIf="isAdmin()" routerLink="/home/requests" routerLinkActive="active">
      <i class="fas fa-inbox"></i> Requests
    </li>
  </ul>

  <div class="sidebar-footer">
    <div *ngIf="currentUser() as user" class="user-info" [routerLink]="['/home/profile', user.userId]">
      <img
        src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
        alt="User Avatar"
        class="user-avatar"
      />
      <div>
        <div class="user-name">{{ user.firstName }}</div>
        <div class="user-lastname">{{ user.lastName }}</div>
      </div>
    </div>

    <button class="logout-btn" (click)="onLogout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </div>
</div>
