<div class="userlist-wrapper">
  <header class="userlist-header">
    <h2>User Management</h2>

    <div class="userlist-filters">
      <input type="text" placeholder="Search by name or email..." class="filter-input" />
      <select class="filter-select">
        <option value="">All Roles</option>
        <option *ngFor="let role of userRoles" [value]="role.roleName">
          {{ role.roleName }}
        </option>
      </select>

      <select class="filter-select">
        <option value="">All Positions</option>
        <option *ngFor="let pos of userPositions" [value]="pos.userPositionName">
          {{ pos.userPositionName }}
        </option>
      </select>

      <button *ngIf="isAdmin()" class="btn add-btn" [routerLink]="['/home/profile']">
        <i class="fas fa-plus"></i> Add User
      </button>
    </div>
  </header>

  <div class="userlist-table-wrap">
    <div *ngIf="loading$ | async" class="spinner"></div>
    <table *ngIf="!(loading$ | async)" class="userlist-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Position</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.userRole.roleName }}</td>
          <td>{{ user.userPosition.userPositionName }}</td>
          <td>
            <button *ngIf="isAdmin()" class="btn small edit-btn" [routerLink]="['/home/profile', user.userId]"><i class="fas fa-edit"></i> Edit </button>
            <button *ngIf="isAdmin()" class="btn small delete-btn" (click)="onDelete(user.userId!)"><i class="fas fa-trash"></i> Delete </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
